*{
    margin: 0px;
    padding: 0px;
    font-family: Dana;
}
.head{
    background-color: black;
    height: 80px;
    width: 100%;
    background: linear-gradient(45deg, red 30%, orange 60%);
}
.inner-header{
    height: 100%;
    width: 1000px;
    margin: 0px auto;
}
.log span{
    font-size: 20px;
}
.log{
    font-style: italic;
    font-family: sans-serif;
    display: table;
    float: left;
    height: 100%;
}
.log h1{
    display: table-cell;
    vertical-align: middle;
    color: white;
}
.nav{
    float: right;
    height: 100%;
}
.nav a{
    text-decoration: none;
    color: black;
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}
.nav li{
    display: table;
    height: 100%;
    float: left;
    padding: 0px 20px;
    list-style: none;
}
.nav li:last-child{
    padding-right: 0px;
}
.body{
    margin: 10px;
    padding: 10px;
}
.body img{
    width: 375px;
    height: 211px;
    padding: 5px;
}
.body img:hover{
    box-shadow: 1px 5px 15px 1px darkgoldenrod;
    transform: scale(1.02);
    transition: 0.3s;
}
ul nav li a span{
    color: darkgray;
}
